* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: comfortaa;
}

html, body {
    height: 100%;
}

html {
    background-color: $bgcPage;
    color: rgb(235, 232, 229);
}

.app {
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}
