.code-block-preview {
    display: flex;
    align-items: center;
    justify-content: center;

    .code-text-preview {
        max-width: 80%;
        width: 100%;

        h1 {
            margin-bottom: 8px;
        }

        .code-content {
            padding: 15px;
            background-color: $bgcList;
            box-shadow: 10px 10px 2px rgb(48, 45, 45);
            box-sizing: border-box;
        }
    }
}
