.main-container{
    .lobby-title{
    margin-bottom: rem(32px);

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem(16px);
    }
    
    // .lobby-main{
    
    // }
}