.main-container, .lobby-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-container {
    .lobby-main {
        max-width: 80%;
    }

    .lobby-title {
        margin-bottom: rem(20px);
        font-size: rem(16px);
    }
}
