
@font-face {
    font-family: roboto;
    src: url('src//assets//fonts//roboto//Roboto-Regular.ttf');
}

@font-face {
    font-family: neue;
    src: url('./fonts/neue/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: comfortaa;
    src: url('./fonts/comfortaa/Comfortaa-Regular.ttf');
}